/* ==========================================================================
   COLOR: GREEN #30DBB5 - #2ecc71
========================================================================== */
a, .text-color, .icon-lg i, .col-xs-12 p.large {
  color: #30DBB5;
}

.col-xs-12 h2 {
  color: #FCB21D;
}

.color-bg, .colored-divider {
  background-color: #30DBB5;
}

/*------------------------------------------*/
/*   Red Buttons 
/*------------------------------------------*/

.btn-color {
  background: #F64D4D;
  color: #fff;
  border-color: #F64D4D;
}

.btn-color:hover {
  background: #ffffff;
  color: #30DBB5;
  border-color: #30DBB5;
}

/*------------------------------------------*/
/*   Header Solid Bg
/*------------------------------------------*/
.solid-bg{
  background:none;
  background-color: #30DBB5;
}


/*------------------------------------------*/
/*   Header App
/*------------------------------------------*/
.type .hero-section span{
  background-color: #30DBB5;
}

/*------------------------------------------*/
/*   Preloader
/*------------------------------------------*/
.preloader{
  background-color: #30DBB5;
}






