<div class="main-wrapper">

  <!-- =========================
       PRELOADER
  ============================== -->
  <div class="preloader">
    <div class="loader-container">
      <div class="text-logo">Plantago</div>
      <div class="signal"></div>
    </div>
  </div>


  <!-- =========================
       HEADER
  ============================== -->
  <header class="header" id="top" data-stellar-background-ratio="0.5">
    <!-- Background Overlay -->
    <div class="overlay">

      <!-- =========================================
           Navigation
      ========================================== -->
      <nav class="navbar navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <!-- Navbar-Header -->
              <div class="navbar-header">

                <!-- Mobile Menu -->
                <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
                  <i class="icon icon_menu"></i>
                </button>

                <!-- Text-Logo -->
                <a href="#top" class="navbar-brand scrollto" title="SmartMvp">
                  <span class="text-logo">Plantago</span>
                </a>

                <!-- Image-Logo: Remove this comments and the section above Text-Logo if you want to add an Image-Logo (recommended sizes -> max-height:50, max-width:200)

                <a href="#top" class="navbar-brand img-logo scrollto" title="SmartMvp">
                    <img src="assets/images/logo.png" alt="Logo">
                </a>
                -->

              </div><!-- /End Navbar-Header -->

              <!-- Navbar-Collapse -->
              <div class="navbar-collapse collapse">

              </div><!-- /End Navbar-Collapse -->
            </div><!-- /End Col -->
          </div><!-- /End Row -->
        </div><!-- /End Container -->
      </nav><!-- /End Sticky Navigation -->


      <!-- =========================================
           Hero-Section
      ========================================== -->
      <div class="container vmiddle hero-app">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <div class="hero-section">

              <!-- Welcome - Hero Message -->
              <h1 class="text-white">Get your Landing Page Carefully Designed and Ready to Go</h1>
              <p class="text-white">Get connected anytime, anywhere.</p>

              <!-- Learn More & Video Buttons -->
              <div class="btn-box">
                <a href="#mobile-download" class="btn btn-color scrollto"><i class="icon icon_cloud-download_alt"></i>Download the App</a>
              </div>

            </div><!-- /End Intro-Section -->
          </div><!-- /End Col -->
          <!-- App Showcase Image -->
          <div class="col-sm-12 col-md-6 hidden-xs">
            <div class="app-box">
              <%= image_tag 'devices.png', class: 'img-responsive' %>
            </div>
          </div>

        </div><!-- /End Row -->
      </div><!-- /End Container Hero-Section -->


    </div><!-- /End Background Overlay -->
  </header>
</div>